api-key="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx";
locations="K7S3,KHIO,KMMV,KUAO,KSLE,KVUO,KSPB,KZSE";
refresh-rate=360; # Check for new NOTAMs every X minutes
filter="^!SUAW"; # Custom RegEx filters
debug-log=0; # Log debugging information
smtp-server="my.mail-server.com";
smtp-port=587;
smtp-user="sender@mydomain.com";
smtp-pwd="secret";
smtp-sender="sender@mydomain.com";
smtp-sender-name="My NOTAMs Service";
smtp-recipient="you@yourdomain.com";
smtp-tls=1;
